.html {
    text-align: center;
    margin-bottom: 2em;
}

.bar {
    margin: auto;
  margin-top: 50px;
    width: 300px;
    height: 20px;
    /*position: relative;*/
    /*background: green;*/
}

.handle, .handle-label, .scale-label {
    font-family: sans-serif;
    position: absolute;
}
.handle {
    width: 30px;
    height: 30px;
    cursor: default;
    font-face: bold;
    border: 1px solid black;
    background:#BBBBBB;
}

.button {
    width: 7em;
    height: 1.5em;
    background: #26396B;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    vertical-align: middle;
    text-align: center;
}

